#barra{
    position: fixed!important;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    background-color: rgba(255, 255, 255, 1);
    clip-path: polygon(0 1%, 100% 0, 80% 99%, 20% 100%);
    width: 125px;
    text-align: center;
    padding: 5px 0;
    transition: .5s;
}
#log{
    position: absolute;
    top: 0;
    right: 0;
}
.logout{
    color: red;
    
}
