.btnVerGrupo{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
}

.progreso{
    width: 50%;
    height: fit-content;
    position: relative;

}
.progreso h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2em;
    text-align: center;
}

.progreso h4 p{
    font-size: .5em;

}

.sec .card{
    margin-bottom: 40px;
}