#divBuscar{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: -100%;
    transition: .5s;
    padding-top: 100px;
}
#backBuscar{
    height: 100vh;
    width: 250%;
    position: absolute;
    top: 0%;
    left: -50%;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
}
#inBuscar{
    width: 0%;
    background-color: rgba(0, 0, 0,.1);
    color: white;
    border: none;
    border-right: 2px solid #0072ff;
    border-left: 2px solid #0072ff;
    font-size: 1.5em;
    text-align: center;
    transition: .3s;
    opacity: 0;
}
.inDate{
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
}
.ui-datepicker-trigger{
    width: 25px;
    filter: invert();
}
#btnHoraDesde, #btnFechaDesde, #btnFechaHasta, #btnHoraHasta{
    cursor: pointer;
    font-size: 1.5em;
}
#inDates{
    width: 60%;
}

fieldset{
    border: 1px solid white;
    width: 100%;
    border-radius: 10px;
}
fieldset > fieldset{
    width: 48%;

}
@media(max-width:800px){
    #inDates{
        width: 100%;
    }
    fieldset > fieldset{
        width: 100%;
    
    }
}
legend{
    font-size: 1em;
    width: auto;
    padding: 0 5px;
    color: white;
}
#listaGrupos{
    height: 80%;
    overflow-y: overlay;
    padding: 0 20px;
}
.lightGrupo{
    background-color: rgba(180,180,180,.3)!important;
    border-color: rgba(180,180,180,1)!important;
}
.divGrupo{
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 2em;
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: rgba(0,0,0,.3);
    cursor: pointer;
    position: relative;
}
.divGrupo p{
    margin: 0;
    margin-left: 15px;
    font-size: .8em;
}
.divGrupo .btnsLista{
    position: absolute;
    right: 7%;
}
.divGrupo .btnsLista a{
    margin: 0 10px;
}
